<div id="text">
  <h2>Vegan Chili</h2>
  <p>This chili is like whoa baby</p>
  <p>The simples are my favorite. Full of color and flavor, this is
  one of those easy dishes I could eat almost everyday. The tomatoes
  are bursting with juiciness and the sautéed lemon adds a wonderful
  touch. Something about adding lemon to the skillet brings out their
  sweetness in a most delicious way. Pairing all of this goodness over
  a grain of choice, as well as a bean, rounds this meal out by giving
  you extra protein and fiber to leave you satisfied without feeling
  weighed down. Feel free to add other vegetables to this as well.
  This is just a template. </p>
  <h3>Ingredients</h3>
  <ul>
    <li>1 1/2 cups cherry tomatoes</li>
    <li>10 oz. asparagus</li>
    <li>1/2 red onion, roughly chopped</li>
    <li>whole garlic cloves, as many as you like</li>
    <li>2 lemons, quartered and seeds removed</li>
    <li>1 tablespoon or so olive oil</li>
    <li>himalayan salt &amp; cracked pepper, to taste</li>
    <li>1 teaspoon or so thyme</li>
    <li>1 can (15oz) white beans (I used cannellini)</li>
    <li>cooked quinoa, farro, barley, brown, jasmine or basmati rice (I used quinoa)</li>
  </ul>
  <p>Prep your veggies and place in medium size bowl. Drizzle with
  olive oil, mix to coat. Add salt, pepper and a sprinkle of thyme,
  mix again. Heat skillet on medium to medium high. Add vegetables and
  cook for about 8 to 10 minutes stirring occasionally, or until
  tomatoes soften. Serve on a bed of grains and beans...or however you
  like it! Serves two generously.
  </p>
</div>

<div id="photos">
  <img src="/images/photos/placeholder.jpg" />
</div>
