@import "base";

$container-style: fluid;

.container {
  // page acts as a container for our grid.
  @include container;
}

nav {
  @include padding-trailer;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 223px;
  background: rgba(252, 236, 205, .2); // orange
  
  @include transition-property("all");
  @include transition-duration(".3s");
  &:hover {
    background: rgba(252, 236, 205, .4); // orange
    //background: rgba(116, 147, 218, .4);

    a {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  @include padding-leader;

  ul {
    @include trailer;
  }

  a {
    background: rgba(255, 255, 255, 0.3);
    color: #444;
    // @include bshadow;
    height: rhythm() - rhythm(.05);
    @include sans-family;
    @include trailer(.05);
    @include padding-leader(.5);
    @include padding-trailer(.5);
    @include transition-property("all");
    @include transition-duration(".3s");
    padding-left: .5em;
    padding-right: .5em;
    display: block;
    text-align: right;

    &:hover {
      text-decoration:none;
      background: rgba(255, 255, 255, .8);
    }

    &:visited {
      color: #444;
    }
  }
}

#photos {
  @include span-columns(7 omega, 12, $gutter-width);
  @include padding-leader;
  @include padding-trailer;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  color: white;
  text-align: center;
}

#text {
  @include span-columns(5, 12, $gutter-width);
  @include padding-leader;
  // @include border-radius(2px);
  // background: rgba(255, 255, 255, .9);
  background: white;
}


#masthead {
  @include container;
  height: 4 * $base-line-height;
  background: white;
  background: #e1ebd3;
  background: #edf3e4;
  border-bottom: 3px solid #555;
  #logo {
    @include adjust-font-size-to(60px);
    color: #759543;
  }
}